@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-image: url("media/wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HEADER */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: #ebebeb;
}

header .container_header{
    display: flex;
    width: 80%;
    height: 100%;
    left: 10%;
    justify-content: space-between;
    padding: 1vh 0 1vh 0;
    align-items: center;
}

header .container_header a{
    text-decoration: none;
}

header .container_header a .titulo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .container_header a .titulo h1{
    font-size: 3vw;
    background: linear-gradient(235deg, #34e2fd, #3069c2, #7320ad, #e400ac);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: lighter;
    font-family: 'Mulish', sans-serif;
    -o-animation: gradiente 2s ease infinite;
    animation: gradiente 2s ease infinite;
}

header .container_header a .titulo h1:hover{
    font-weight: bold;
}

@-o-keyframes gradiente {
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}
@keyframes gradiente {
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

header .container_header a .titulo img{
    width: 100%;
    height: 60%;
}


header .container_header .navbar{
    width: 25%;
    height: 100%;
    font-family: 'Mulish', sans-serif;
}

header .container_header .navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    align-items: center;
}

header .container_header .navbar ul a li{
    font-size: 1.3vw;
    color: black;
}

header .container_header .navbar ul a .now{
    border-bottom: 0.2vh solid black;
}

header .container_header .login{
    width: 15%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header .container_header .login ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
    font-size: 1.3vw;

}

header .container_header .login ul .log{
    color: white;
    background-color: #7320ad;
    border-radius: 5px;
}

header .container_header .login ul .cad{
    color: #34e2fd;
    background-color: #e400ac;
    border-radius: 5px;
}

.border{
    height: 3%;
    width: 100%;
    background: linear-gradient(235deg, #34e2fd, #3069c2, #7320ad, #e400ac);
    background-size: 200% 200%;
    -o-animation: gradiente 2s ease infinite;
    animation: gradiente 2s ease infinite;
}

/* CONTAINER */

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.container .banner{
    width: 100%;
    height: 85vh;
    background: #000000a0;
}

/* footer */

footer{
    width: 100%;
    height: 15vh;
    background-color: #060307;
}

footer ul{
    display: flex;
}

footer ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

footer ul li a .box{
    width: 2vw;
    height: 2vw;
    background: linear-gradient(235deg, #34e2fd, #3069c2, #7320ad, #e400ac);
    background-size: 200% 200%;
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z"/></svg>');
    -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z"/></svg>');
    -o-animation: gradiente 2s ease infinite;
    animation: gradiente 2s ease infinite;
}

footer ul li a p{
    font-size: 1.6vw;
    font-weight: 100;
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(235deg, #34e2fd, #3069c2, #7320ad, #e400ac);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-animation: gradiente 2s ease infinite;
    animation: gradiente 2s ease infinite;
}


